selector{
	property:value;
}

body{
	background-image: url(https://wallpapershome.com/images/pages/pic_h/20388.jpg);
}

#Titulo{

	font-size: 150%;
	color: black;
	background-color: rgb(154, 121, 55);
}
#Sec1{

	font-size: 180%;
	color: white;
	
	font-family: 'Spectral SC', serif;
}
#Sec2{
	color: white;
	font-family: 'Headland One', serif;
	font-size: 100%;
	
}
img{

	transition: all 1s;
}
img:hover{

	transform: scale(1.1);
}
#Dates{

	color: white;
	font-size: 120%;
}