selector{
	property:value;
}

body{

	background-image: url(http://webneel.com/wallpaper/sites/default/files/images/07-2013/7%20mercedes%20car%20wallpaper.jpeg);

}
#Titulo{
	text-align: center;
	background-color: rgb(186, 19, 0);
color: rgb(0, 106, 232);
	font-size: 280%;
	font-family: 'Faster One', cursive;
}

h1{

	text-align: center;
	text-decoration: underline;
	font-style: initial;
	
}
 #Sec1{
text-align: center;

 	font-size: 100%;
font-family: 'Carrois Gothic SC', sans-serif;


 	
 }
#Sec2{

font-size: 150%;
border: 3px solid  rgb(52, 113, 222);
background-color: rgb(06, 06, 06);
display: inline-block;
padding: 15px;
 	color: rgb(154, 45, 27);

 }

 #Sec3{
color: white;
background-color: rgb();
 	text-align: right;

 }
 img{
border: 2px solid black;
 	transition: all 1s;

 }
img:hover {

	transform:scale(1.1);
}